@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');
.f{
    background-color: #aa1818;
    position: sticky;
    top: 100%;
}
p{
    font-size: 15px;
    color: white;
    font-family: 'Kanit', sans-serif;
}