@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
   min-height: 100vh;
}
.bgc{
    background-color: #aa1818;
}
header{
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    box-shadow: #f0f0f0;
    box-shadow: 0 5px 10px black;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*z-index: 1000;*/
}
.navber{
}
header .navber ul{
    list-style: none;
}
header .navber ul li{
    position: relative;
    float: left;
}
header .navber ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    cursor: pointer;
}
header .navber ul li a:hover{

    color: #ffc107;
}
header .navber ul li ul{
    position: absolute;
    left: 0;
    width: 145px;
    background: #aa1818;
    display: none;
}
header .navber ul li ul li{
    width: 100%;
    border-top: 1px solid black;
}
header .navber ul li:focus-within > ul,
header .navber ul li:hover > ul{
    display: initial;
}
@media (max-width: 991px) {
    header{
        padding: 20px;
    }
}
