@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;

    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #f0f0f0;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: gainsboro;
    outline: none;
    border-radius: 10px;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #dc3545;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #dc3545;
    border-radius: 25px;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #b02a37;
    transition: .5s;
}
input[type="button"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #dc3545;
    border-radius: 25px;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="button"]:hover{
    border-color: #b02a37;
    transition: .5s;
}
.text{
    text-align: center;
    font-size: 15px;
}
.ct{
    color: black;
}
.width{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 150px;
}
.width h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.width form{
    padding: 0 40px;
    box-sizing: border-box;
}
.btn{
    display: flex;
}
nav{
    padding-bottom: 20px;
}
select{
    width: 250px;
    font-size: 16px;
}
i{
    padding-bottom: 15px;
}

.cta-form {
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}
.txt_field {
    margin-bottom: 15px;
}
#qfaq_id{
    width: 380px;
    font-size: 16px;
}
.txt_field p{
    color: red;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}
tr td{
    display: flex;
}