body {
    font-family: 'Kanit', sans-serif;;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
}
.textcenter {
    text-align: center;
    font-size: 24px;
    color: #000000; /* Red color */
    font-family: 'Kanit', sans-serif;
    margin-bottom: 20px;
}
.space {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
}

th {
    background-color: #c23b2f; /* Brown color */
    color: #fff;
    font-family: 'Kanit', sans-serif;
}
/* ??????????? */
table.table {
    border: 1px solid #ccc;
    font-family: 'Kanit', sans-serif;
}
tr:nth-child(even) {
    background-color: #FFD700; /* Yellow color */
}

.delete-button {
    color: #ff0000; /* Red color */
    cursor: pointer;
}

.delete-button:hover {
    color: #8B0000; /* Dark Red color */
}

/*table.table th,*/
/*table.table td {*/
/*    padding: 10px;*/
/*    text-align: left;*/
/*    font-family: 'Kanit', sans-serif;*/
/*}*/

/*table.table th {*/
/*    background-color: #f2f2f2;*/
/*}*/

/* ????? */
a {
    text-decoration: none;
}

/* ?????? */
.delete-button {
    cursor: pointer;
}

/* ???????????? */
img {
    vertical-align: middle;
}
.add-button {
    background-color: #0328ef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1000px;
    margin-top: 20px;
}

.add-button:hover {
    background-color: #3c56e3;
}
th a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
th a:hover{
    color: yellow;
}
nav{
    padding-bottom: 20px;
}
select{
    width: 200px;
    font-size: 16px;
}
.addq-button {
    background-color: #0328ef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
}

.addq-button:hover {
    background-color: #3c56e3;
}
.odd-row{
    background-color: wheat; /* Light gray */
}

.even-row {
    background-color: #ffffff; /* White */
}
/*.table-striped tbody tr:nth-child(odd) {*/
/*    background-color: wheat; !* Light gray color for odd rows *!*/
/*}*/
/*.table-striped tbody tr:nth-child(even) {*/
/*    background-color: #ffffff; !* White color for even rows *!*/
/*}*/
.underline{
    border-bottom: 2px solid black;

    bottom: 0;
}

